@import "reset.css";
@import "variables.css";


/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";


/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";



body{
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 200vh;
    color: #2e363e;
}

body:not(.body__settings) {
       margin-top: 110px;
}

/* body .body__settings {
    margin: 124.5;
} */



.main-screen {
    padding: 0px var(--horizontal-space);
    /* margin-top: 125px; */
}



