.chat__status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  background-color: #abc1d1;
  opacity: 0.8;
  z-index: 11;
}

.chat__status-bar__column {
  width: 33%;
}

.chat__status-bar__column:first-child span {
  padding-right: 5px;
}

.chat__status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.chat__status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat__status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

.chat-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26.5px;
  background-color: #abc1d1;
  z-index: 10;
  opacity: 0.8;
}

.chat-header__title {
  font-size: 28px;
  font-weight: 600;
}

.chat-header__column {
  width: 33%;
}

.chat-header__column:first-child {
  margin-right: auto;
}

.chat-header__column:nth-child(2) {
  text-align: center;
}

.chat-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.chat-header__column span:last-child {
  margin-left: 20px;
}

.chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 6px;
}

.reply__column:last-child > i {
  right: 23px;
  top: 13px;
}

.reply__column {
  margin-right: 25px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button :focus,
.reply__column button :active {
  outline: none;
}
