.chat__status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  background-color: #abc1d1;
  opacity: 0.9;
  z-index: 11;
}

.chat__status-bar__column {
  width: 33%;
}

.chat__status-bar__column:first-child span {
  padding-right: 5px;
}

.chat__status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.chat__status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat__status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

.chat-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26.5px;
  background-color: #abc1d1;
  z-index: 10;
  opacity: 0.9;
}

.chat-header__title {
  font-size: 28px;
  font-weight: 600;
}

.chat-header__column:first-child {
  margin-right: auto;
}

.chat-header__column:last-child {
  margin-left: auto;
}

.chat-screen {
  background-color: #abc1d1;
}
