.screen-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 26.5px;
  background-color: white;
  z-index: 10;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span :not(screen-header__notification) {
  margin-left: 25px;
}

.screen-header__notification {
  background-color: tomato;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -8px;
  top: -8px;
}
